@import url('https://fonts.googleapis.com/css?family=Anton');

$PrimaryYellow: #fffe00;
$PrimaryBlack: #000000;
$PrimaryWhite: #ffffff;

$Impact: Anton;
$Arial: Arial;
$Text: 0px;

$IpadLandscape: 1024px;
$IpadPortrait: 768px;
$Mobile: 414px;