@import url("https://fonts.googleapis.com/css?family=Anton");
.contact .content {
  display: flex;
  justify-content: space-between;
  padding: 2.5%; }
  .contact .content__form {
    flex: 2;
    padding-right: 2.5%; }
    .contact .content__form input {
      border: 0;
      padding: 0 10px;
      outline: 0;
      appearance: none;
      display: block;
      height: 40px;
      width: 100%;
      background-color: #000000;
      color: #ffffff;
      border-left: solid 4px #fffe00;
      margin-bottom: 2.5%; }
      .contact .content__form input[type="submit"] {
        font-family: Anton;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #fffe00;
        color: #000000;
        border-left: solid 4px #000000; }
  .contact .content__maps {
    display: block;
    width: 300px;
    height: 300px; }
  @media (max-width: 768px) {
    .contact .content {
      flex-direction: column; }
      .contact .content__form {
        padding-right: 0; }
      .contact .content__maps {
        width: 100%;
        height: auto; } }
